# ─── Auth0 Web App
AUTH0_SECRET=                        #openssl rand -hex 32
AUTH0_BASE_URL=http://localhost:3000                      
AUTH0_ISSUER_BASE_URL=               # https://YOUR-TENANT.us.auth0.com       
AUTH0_CLIENT_ID=                     # Regular Web App client ID
AUTH0_CLIENT_SECRET=                 # Regular Web App client Secret
AUTH0_AUDIENCE=

# ─── Auth0 M2M Agent (Travel Agent)
AGENT_TRAVEL_CLIENT_ID=
AGENT_TRAVEL_CLIENT_SECRET=

# ─── Auth0 M2M Agent (Fraud Detection Agent)
AGENT_FRAUD_CLIENT_ID=
AGENT_FRAUD_CLIENT_SECRET=

# ─── Auth0 M2M Agent (AML Agent)
AGENT_AML_CLIENT_ID=
AGENT_AML_CLIENT_SECRET=

# ─── Auth0 M2M Agent (HR Agent)
AGENT_HR_CLIENT_ID=
AGENT_HR_CLIENT_SECRET=

# ─── Google Gemini 
GOOGLE_GENERATIVE_AI_API_KEY=

# ─── ScopeGuard Internal 
SCOPEGUARD_GATEWAY_SECRET=                   # openssl rand -hex 32

# CIBA mock: "true" = auto-approve, "false" = auto-deny (untuk test denied flow)
CIBA_MOCK_AUTO_APPROVE=true